# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ----------------------------------------
# Virtual environment
# ----------------------------------------
venv/

# ----------------------------------------
# Jupyter
# ----------------------------------------
.ipynb_checkpoints/

# ----------------------------------------
# OS files
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# DVC
# ----------------------------------------
*.dvc
.dvc/

# ----------------------------------------
# Ignore processed data and figures
# ----------------------------------------
data/processed/
data/figures/

# ----------------------------------------
# Allow raw data to be tracked by DVC
# ----------------------------------------
!data/raw/
!.dvcignore
