# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# DVC
.dvc/
*.dvc
!.dvc/.gitignore  # track .gitignore inside .dvc if exists

# Data folders (ignore actual data)
data/raw/
data/processed/
data/interim/
